@use "./globals/reset";

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color-text: 49, 62, 81;
  --color-text--secondary: 98, 108, 127;

  --color-bg: 255, 255, 255;
  --color-quiz: 255, 255, 255;
  --color-quiz--icon: 0, 0, 0;

  --color-option: 167, 41, 245;

  --color-error: 238, 84, 84;
  --color-correct: 38, 215, 130;

  --img-url: url("/public/assets/images/pattern-background-desktop-light.svg");
  --img-url--mobile: url("/public/assets/images/pattern-background-mobile-light.svg");
  --img-icon--sun: url("../../public/assets/images/icon-sun-dark.svg");
  --img-icon--moon: url("../../public/assets/images/icon-moon-dark.svg");
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
}

body {
  .dark {
    color-scheme: dark;
  }

  .light {
    color-scheme: light;
  }

  background-image: var(--img-url);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-text));
  display: grid;
  grid-template-rows: 25% 1fr 15%;
  min-height: 100dvh;
  overflow-x: hidden;
  padding: 0 10%;
  width: 100%;
}

// THEME BUTTON
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__subject {
    align-items: center;
    display: flex;
    gap: 3.2rem;

    img {
      background-color: rgba(var(--color-quiz--icon), 0.05);
      border-radius: 8px;
      padding: 0.8rem;
    }

    p {
      font-size: 2.8rem;
    }
  }
}

.theme {
  align-items: center;
  display: flex;
  gap: 1.6rem;

  &__icon--sun {
    background-image: var(--img-icon--sun);
    background-repeat: no-repeat;
    height: 2.4rem;
    width: 2.4rem;
  }

  &__icon--moon {
    background-image: var(--img-icon--moon);
    background-repeat: no-repeat;
    height: 2.4rem;
    width: 2.4rem;
  }

  &__btn {
    background-color: rgb(var(--color-option));
    cursor: pointer;
    height: 2.8rem;
    position: relative;
    width: 4.8rem;
    border-radius: 16px;
  }
  &__btn::before {
    background-color: white;
    border-radius: 100%;
    content: "";
    height: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.3s ease, right 0.3s ease;
    width: 2rem;
  }
}

.dark .theme__btn::before {
  right: 3px;
}

.light .theme__btn::before {
  left: 3px;
}
//

// MAIN SUBJECTS
.container {
  display: none;
  &.show {
    color: rgb(var(--color-text));
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}
.home {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  h1 {
    font-size: 6.4rem;
  }

  p {
    color: rgb(var(--color-text--secondary));
    font-size: 2rem;
  }
}

.subjects {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  &__subject {
    align-items: center;
    background-color: rgb(var(--color-quiz));
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border: 3px solid transparent;
    cursor: pointer;
    display: flex;
    gap: 3.2rem;
    padding: 1.2rem;

    &:hover {
      border: 3px solid rgba(var(--color-option), 0.5);
      color: rgba(var(--color-option), 0.5);
      transition: all 0.3s ease;
    }

    &:focus,
    &:active {
      border: 3px solid rgba(var(--color-option), 1);
      color: rgba(var(--color-option), 1);
    }

    img {
      background-color: rgba(var(--color-quiz--icon), 0.05);
      border-radius: 8px;
      padding: 0.8rem;
    }

    p {
      font-size: 2.8rem;
    }
  }
}

// MAIN QUIZ
.quiz {
  display: none;
  &.show {
    color: rgb(var(--color-text));
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  &__home {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    h2 {
      font-size: 6.4rem;
    }

    p {
      color: rgb(var(--color-text--secondary));
      font-size: 2rem;
    }
  }

  &__answers {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  &__option {
    background-color: rgba(var(--color-quiz--icon), 0.05);
    border-radius: 8px;
    font-weight: bold;
    padding: 1.6rem;
  }

  &__answer {
    align-items: center;
    background-color: rgb(var(--color-quiz));
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    gap: 3.2rem;
    padding: 1.2rem;

    &.active {
      border: solid 1px rgb(var(--color-option));
    }

    &.error {
      border: solid 1px rgb(var(--color-error));
    }

    &.correct {
      border: solid 1px rgb(var(--color-correct));
    }

    &:not(.active):hover .quiz__option {
      background-color: rgba(var(--color-option), 0.1);
      color: rgb(var(--color-option));
      transition: all 0.3s ease;
    }

    &.active .quiz__option {
      background-color: rgba(var(--color-option), 1);
      color: white;
      transition: all 0.3s ease;
    }
    &.error .quiz__option {
      background-color: rgb(var(--color-error));
    }
    &.correct .quiz__option {
      background-color: rgb(var(--color-correct));
    }

    &.disabled {
      pointer-events: none;
    }

    p {
      font-size: 1.6rem;
    }
  }

  &__error {
    align-items: center;
    display: flex;
    gap: 3.2rem;
    justify-content: center;

    p {
      color: rgb(var(--color-error));
      font-size: 2.4rem;
    }
  }
}

// COMPLRETED QUIZ

.result {
  display: none;

  &.show {
    color: rgb(var(--color-text));
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__home {
    display: flex;
    flex-direction: column;
    font-size: 6.4rem;
    gap: 1.2rem;

    h2 {
      font-weight: bold;
    }
  }

  &__title {
    align-items: center;
    display: flex;
    gap: 3.2rem;

    span {
      font-size: 2.8rem;
    }

    img {
      background-color: rgba(var(--color-quiz--icon), 0.05);
      border-radius: 8px;
      padding: 0.8rem;
    }
  }

  &__info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  &__box {
    align-items: center;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: rgb(var(--color-quiz));
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 3.2rem;
    width: 100%;
  }

  &__length {
    font-size: 2.4rem;
  }

  &__points {
    font-size: 14.4rem;
    font-weight: bold;
  }
}

// BUTTON

.btn {
  color: white;
  border-style: none;
  background-color: rgb(var(--color-option));
  border-radius: 8px;
  cursor: pointer;
  font-size: 2.8rem;
  height: 9.2rem;
  outline: none;
  width: 100%;

  &:hover {
    filter: brightness(1.2);
    transition: all 0.3s;
  }

  &:active {
    border-style: none;
    filter: brightness(1.3);
    transition: all 0.3s;
  }
}

// DARK MODE
body.dark {
  --color-text: 255, 255, 255;
  --color-text--secondary: 171, 193, 225;

  --color-bg: 49, 62, 81;
  --color-quiz: 59, 77, 102;
  --color-quiz--icon: 255, 255, 255;

  --img-url: url("/public/assets/images/pattern-background-desktop-dark.svg");
  --img-icon--sun: url("../../public/assets/images/icon-sun-light.svg");
  --img-icon--moon: url("../../public/assets/images/icon-moon-light.svg");
}

// MEDIA QUERRIES

@media screen and (max-width: 1000px) {
  body {
    background-image: var(--img-url--mobile);
  }

  body.dark {
    --img-url--mobile: url("/public/assets/images/pattern-background-mobile-dark.svg");
  }

  //MAIN SUBJECTS
  .container {
    &.show {
      color: rgb(var(--color-text));
      display: grid;
      gap: 3.2rem;
      grid-template-columns: 1fr;
      grid-template-rows: max-content 1fr;
    }
  }
  .home h1 {
    font-size: 4rem;
  }

  // QUIZ
  .quiz {
    &.show {
      grid-template-columns: 1fr;
      grid-template-rows: max-content 1fr;
      gap: 3.2rem;
    }

    &__home h2 {
      font-size: 4rem;
    }
  }

  // COMPLETED
  .result {
    &.show {
      grid-template-columns: 1fr;
      grid-template-rows: max-content 1fr;
      gap: 3.2rem;
    }
  }
}
